<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

	<title>Add Device</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'css/mainstyle.css' %}">
</head>
<body>
	<div class="limiter">
		<header>
			<div class="topnav">
				<a id="logo" href="Index.html" style="padding: 14px; font-size: 20px;        
                color: white;
                text-decoration: none;
                cursor: pointer;">SMART<span style="color: #db2303;">HOME</span></a>
			</div>
		</header>
		<div class="container-login100" style="background-image: url('/static/images/bg-01.jpg');">
			<div class="wrap-login100 p-t-30 p-b-50">
				<span class="login100-form-title p-b-41" style="margin-bottom: 40px;
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
					ADD DEVICE
				</span>
				<form class="login100-form validate-form p-b-33 p-t-5" method="post" action="">
					{% csrf_token %}
                    <div class="wrap-input100 validate-input">
						<input class="input100" type="text" name="deviceName" placeholder="Device Name" required>						
					</div>		

                    <div class="wrap-input100 validate-input">                        
						<input class="input100" type="number" id="pinnum" name="pinNum" placeholder="Pin Number" required>
                        <valid style="font-size: 15px;padding: 15px;color:#db2303;"></valid>						
					</div>
					
					<div class="container-login100-form-btn m-t-32">
						<button class="login100-form-btn" style="margin-bottom: 30px;">
							Add
						</button>
					</div>
					
				</form>
			</div>
		</div>
	</div>
</body>
</html>
<script>
     var pinno=document.getElementById('pinnum');
     var pvalid=document.getElementsByTagName('valid');
     pinno.onkeyup=function()
    {
       const validpin=/^\b([1-9]|1[0-5]|2[2-8])\b$/;              
       
       if(validpin.test(pinno.value))
       {
        pvalid[0].innerText="";
       }
       else
       {
        pvalid[0].innerText="Should only be from 1-15  and from 22-28";            
       }
    }
</script>